{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block tit_cont %}{{ tit_cont }}{% endblock %}
{% block sub_tit_cont %}{{ sub_tit_cont }}{% endblock %}
{% load humanize %}
{% block script %}

    <script>
        function envdata(count) {
            var estado = $('#estado'+count).val();
            var id = $('#id'+count).val();

            $.ajax({
                type: 'POST',
                url: '/cam/est/',
                dataType: 'json',
                data: {
                    'estado': estado,
                    'pk': id,

                },
                success: function (data) {
                        console.log(data);
                        window.location.href = '/lis/td/';

                    }

                }
            );

        }

    </script>

{% endblock script %}
{% block contenido %}



    <!-- PAGE CONTENT WRAPPER -->
    <div class="row">
        <div class="col-md-12">


            <!-- Configuration option table -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">{{ tit_cont }} {{ sub_tit_cont }}</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">

                                    </ul>
                                </div>

                            </div>

                            <div class="card-content collapse show">

                                <div class="card-body card-dashboard">
                                    <form class="form-inline" role="form" method="get" action="">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Nombre de tarea"
                                                   value="{{ nom }}" name="nom"/>
                                        </div>

                                        <button type="submit" class="btn btn-icon btn-info mr-1"><i
                                                class="la la-search"></i></button>
                                        <a href="{% url 'todo:rtd' %}" class="btn btn-icon btn-success mr-1"><i
                                                class="ft-plus"></i>Registrar</a>
                                    </form>
                                    <br><br>
                                    {% if is_paginated %}
                                        <div class="float-left">
                                            <ul class="pager">
                                                {% if page_obj.has_previous %}
                                                    <li>
                                                        <a href="?page={{ page_obj.previous_page_number }}&usu={{ usu }}&nom={{ nom }}&ape={{ ape }}"><i
                                                                class="ft-arrow-left"></i>Anterior</a></li>
                                                {% endif %}
                                                {% if page_obj.has_next %}
                                                    <li>
                                                        <a href="?page={{ page_obj.previous_page_number }}&usu={{ usu }}&nom={{ nom }}&ape={{ ape }}">Siguiente<i
                                                                class="ft-arrow-right"></i></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>

                                    {% endif %}


                                <div class="card todo-details rounded-0">
                        <div class="sidebar-toggle d-block d-lg-none"><i class="ft-menu font-large-1"></i></div>
                        <div class="search">

                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                 {% for t in object_list %}
                                <form id="form-todo-list">
                                    <div id="todo-list" class="todo-list media-list media-bordered">


                                        <div class="todo-item media">
                                            <div class="media-left pr-1">
                                                <span class="dragme ft-more-vertical" ></span>

                                            </div>
                                            <div class="media-body">
                                                <div class="todo-title">
                                                    {{ t.task_name }} &nbsp;&nbsp;
                                                     <a href="{% url 'todo:utask' pk=t.pk %}" title="Editar" ><i class="la la-edit"></i></a>
                                                    <div class="float-right">
                                                        {% if t.estado == 0 %}
                                                            <span class="mr-2 badge badge-danger">Archivado</span>
                                                        {% elif t.estado == 1  %}
                                                            <span class="mr-2 badge badge-success">Abierto</span>
                                                        {% elif t.estado == 2 %}
                                                           <span class="mr-2 badge badge-warning">Progreso</span>
                                                        {% else %}
                                                            <span class="mr-2 badge badge-info">Cumplida</span>
                                                        {% endif %}
                                                     <form  method="POST" >
                                                            <input type="hidden" id="id{{ forloop.counter }}" value="{{ t.pk }}">

                                                            <select id="estado{{ forloop.counter }}"  onchange="envdata('{{ forloop.counter }}');">
                                                             {% if t.estado == 0 %}
                                                                 <option value="">Cambiar</option>
                                                                 <option value="1">Abierta</option>
                                                                 <option value="2">Progreso</option>
                                                                 <option value="3">Cumplida</option>

                                                             {% elif t.estado == 1 %}
                                                                 <option value="">Cambiar</option>
                                                                 <option value="0">Archivada</option>
                                                                 <option value="2">Progreso</option>
                                                                 <option value="3">Cumplida</option>
                                                             {% elif t.estado == 2 %}
                                                                 <option value="">Cambiar</option>
                                                                  <option value="0">Archivada</option>
                                                                 <option value="1">Abierta</option>
                                                                 <option value="3">Cumplida</option>
                                                             {% elif t.estado == 3 %}
                                                                 <option value="">Cambiar</option>
                                                                  <option value="0">Archivada</option>
                                                                 <option value="1">Abierta</option>
                                                                 <option value="2">Progreso</option>
                                                            {% endif %}


                                                            </select>

                                                      </form>


                                                    </div>

                                                </div>
                                                {% if request.user.is_admin or request.user.is_staff %}
                                                <span class="todo-desc">{{ t.userid.username }}</span>
                                                 <a href="{% url 'todo:asitask' pk=t.pk %}" title="Asignar"><i class="la la-user"></i></a>
                                                {% else %}
                                                    <a href="{% url 'todo:asitask' pk=t.pk %}" title="Asignar"><i class="la la-user"></i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                       {% empty %}
                                        <div class="todo-item no-result text-center media no-items">
                                            <div class="media-body">
                                                <div class="todo-title">
                                                    No tienes tareas
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                {% endfor %}
                            </div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
            <!--/ Configuration option table -->


        </div>

    </div>


   {% endblock %}